@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: 'Open Sans', sans-serif;

}


.container {
    width: 940px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
}
header {
    height: 150px;
    background: white;

}
.header_nav {
    display: flex;
}

.slider {
    background-image: url('../img/slide-bg-complexity.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.what_can_we_do {
    background: #2fddd7;
}

.events {
    background-image: url('../img/news-and-events-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.stories {
    background: burlywood;
}

footer {
    background: coral;
}